body{
    margin: 0px;
}

.container{
    display: flex;
    width: 223px;
    height: 61px;
    background: linear-gradient(180deg, #FFB345 0%, #EE7A3A 100%);
    left: 20px;
    padding-bottom: 11px;
    padding-top: 5px;
    margin: 0px;
}

.aside, h2{
    line-height: 12px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: white;
    padding-left: 25px;
}

.menu-list{
    border-bottom: 1px solid #e3d6d6;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    line-height: 19px;
    font-size: 15px;
    font-weight: 500px;
    width: 200px;
    color: #725C5C;
    padding-left: 24px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.trabalhos{
    background-color: #faf0e3;
    border-left: 5px solid orange;
    width: 193px;
}

.list-container{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.slaca{
    position: absolute;
    box-shadow: 1px 0px 5px rgb(211, 205, 205);
    min-height: 2508px;
    width: 222px;
}

.sticky{
    position: sticky;
}

.top{
    display: flex;
    flex-direction: column;
    background-color: #FDF1EB;
    max-width: 2000px;
    max-height: 77.5px;
    padding-left: 256px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #725C5C;
    font-weight: 400;
}

.header, p{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.ent{
    margin: 0px;
    font-size: 22px;
}

.issn{
    font-weight: 400px;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.btn{
    position: absolute;
    border-radius: 3px;
    width: 97px;
    line-height: 26px;
    font-size: 14px;
    background-color: #FDF1EB;
    border: 1px solid #CCCCCC;
    padding: 5px 0px 0px 0px;
    margin: 21px 0px 0px 760px;
    cursor: pointer;
}

.email{
    position: absolute;
    margin: 22px 0px 0px 1113px;
}

.alguem{
    position: absolute;
    font-size: 12px;
    margin: 38px 0px 0px 1025px;
}

.email-pic{
    position: absolute;
    border-radius: 50%;
    margin: 24px 0px 0px 1185px;
}

.dois{
    position: absolute;
    padding: 5px;
    margin: 23px 0px 0px 1206px;
    height: 4px;
    width: 4px;
    align-items: center;
    line-height: 3px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.scroller {
    height: fit-content;
    overflow-y: scroll;
}

.painel{
    float: right;
    width: 242px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 45px;
    border-radius: 3px;
}

.como{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-align: right;
    margin: 0px 0px 9px 0px;
    color: #ED7839;

}

.head-panel{
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    padding: 11px 15px 9px 15px;
    margin: 0;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
    background: #FDF1EB;
    color: #4E4E4E;
}

.content-panel{
    border: 1px solid #ECECEC;
    border-radius: 0px 0px 3px 3px;
    scroll-behavior: smooth;
    padding: 15px;
    font-weight: 400;
}

.tipodea{
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 17px;
    margin-bottom: 0px;
    color: #4E4E4E;
}

.autors{
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 1px;
    color: #4E4E4E;
}

.universities{
    font-size: 11px;
    font-weight: 400px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #b0aeae;
}

article{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 730;
    width: 786px;
    height: 54px;
    margin-top: 17px;
    margin-bottom: 19px;
    color: #ED7839;
    margin-left: 265px;
}

.video-player{
    display: flex;
    margin: 20px 0;
    border-radius: 3px;
}

.container-icons{
    display: flex;
    gap: 5px;
    margin: 20px 5px 5px 35px;
}

.resumo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-align: left;
    line-height: 25px;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
    margin: 30px 0px 0px 0px;
    padding: 10px 10px 10px 15px;
    width: 1182px;
    background-color: #FDF1EB ;
    color: #4E4E4E;
}

button h3.resumo{
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    margin: 0px 0px 0px -1px;
    color: #4E4E4E;
}

.letra{
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #5C5C5C;
    text-align: justify;
    border: 1px solid #ECECEC;
}

.lorem{
    border-bottom: 0;
    border-radius: 0px 0px 3px 3px;
    margin: 0;
    padding: 15px 15px 0px 15px;
    width: 1155px;
    max-height: 114px;
    cursor: pointer;
    display: block; 
}

.detail{
    padding: 0px 15px 15px 15px;
    border-top: 0;
    width: 1177px;
    min-height: fit-content;
}

.resumee{
    display: flex;
    color: #5C5C5C;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
}

.resumee.letra{
    border: 0;
    margin-bottom: 9px;
}

.accordion.detail.letra{
    padding: 0;
    margin: 0;
}

.vermais{
    position: absolute;
    width: 90px;
    margin: -27px 0px 0px 868px;
    transition: all 0.4s ease;
    font-weight: 550;
    color: #EE7A3A;
}

.vermais.inactive{
    font-size: 14px;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.accordion-header{
    margin: 0;
    padding: 0;
    background-color: white;
    cursor: pointer;
    border:0;
}

.accordion-body {
    font-size: 14px;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
  }
  
.accordion-body.active {
    font-weight: 400;
    max-height: 18rem;
    padding-bottom: 15px;
    text-align: justify;
}

.question-panel{
    align-items: center;
    border: 1px solid #ECECEC;
    border-radius: 0px 0px 3px 3px;
    width: 1207px;
}

.discussoes{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    width: 1182px;
    text-align: center;
    margin: 15px;
}

.icons{
    text-align: center;
}

.icone1, .icone2, .icone3{
    margin: 15px 20px;
}

.foi-enviado{
    margin: 0;
    padding: 0;
    border:0;
    display: none;
}

.foi-enviado.done{
    position: absolute;
    display: flex;
    width: 100%;
    margin: 15px 0px 0px 440px;
    font-weight: 700;
    font-size: 18px;
}

.agradecemos{
    margin: 0;
    padding: 0;
    border:0;
    display: none;
}

.agradecemos.done{
    position: absolute;
    display: flex;
    width: 100%;
    margin: 55px 0px 0px 250px;
    font-weight: 400;
    font-size: 14px;
    color: #595959;
}

.descubra{
    margin: 0;
    padding: 0;
    border:0;
    display: none;
}

.descubra.done{
    position: absolute;
    display: flex;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    margin: 104px 0px 0px 520px;
    color: #F48F44;
}

.criar-novo{
    margin: 0;
    padding: 0;
    border:0;
    display: none;
}

.criar-novo.done{
    position: absolute;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    width: 235.15px;
    height: 32px;
    padding-left: 65px;
    margin: 155px 0px 0px 486px;
    align-items: center;
    color: white;
    background:  linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
}

.deixe{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 626px;
    margin: 12px 0px 0px 300px;
    text-align: center;
    color: #595959;
}

.criar{
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin: 20px 0px 0px 550px;
    padding: 7px 13px 9px;
    color: white;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border: 0;
    border-radius: 4px;
}

.novo-topico{
    border: 0;
    font-size: 14px;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.panel.active{
    border: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
}

.novo-topico.active{
    min-height: 290px;
    transition: all 0.4s ease;
}

div.novo-topico.active.done{
    position: absolute;
    max-height: 0;
    padding: 0;
}

.deixe.done{
    border: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
}

.assunto.done{
    position: absolute;
    border: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
}

.defina.done{
    border: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
}

.text-box.done{
    border: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
}

.send-box.active.done{
    border: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.bold-shape.done{
    border: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.italic-shape.done{
    border: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.enviar.done{
    border: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.assunto{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 22px 0px 1px 18px;
}

.defina{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    padding: 10px 0px 11px 23.3px;
    margin: 0px 14.95px 0px 18px;
    color: #595959;
}

.text-box{
    min-height: 82px;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 0 0;
    margin: 3px 14.95px 0px 18px;
}

.active.send-box{
    position: absolute;
    overflow: hidden;
    min-height: 31px;
    width: 1140px;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 3px 3px;
    background-color: #EAF1F2;
    margin: 0px 0px 0px 18px;
}

.bold-shape.active{
    margin: 11px 30px 10px 30px;
}

.italic-shape.active{
    margin: 11px 0px 10px 0px;
}

.enviar.active{
    position: absolute;
    cursor: pointer;
    height: 34px;
    width: 205.1px;
    margin: 0px 0px 0px 841px;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
    background: linear-gradient(180deg, #FFB345 0%, #EE7A3A 100%);
}

.divisoria{
    display: flex;
    margin: 15px;
    width: 1177px;
}

.rectangle{
    overflow: hidden;
    transition: all 0.4s ease;
}

.rectangle.done{
    position: absolute;
    opacity: 90%;
    width: 1176px;
    transition: all 0.4s ease;
}

.done-icon.done{
    position: absolute;
    margin: 25px 590px;
    transition: all 0.4s ease;
}

.made.done{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 414.29px;
    margin: 50px 0 0 480px;
    color: #707070;
    transition: all 0.4s ease;
}

.editar.done{
    position: absolute;
    font-weight: 400;
    width: 122.12px;
    text-decoration: underline;
    margin: 85px 0px 0px 561px;
    transition: all 0.4s ease;
}

.sent-topic{
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.sent-topic.done{
    min-height: 162px;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 218px 15px 0px 15px;
    transition: all 0.4s ease;
}

.card-header{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 17px 0px 3px 24.17px;
    transition: all 0.4s ease;
}

.name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 0px 0px 10px 24.17px;
    color: #5C5C5C;
}

.card-body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 11px 23.17px 10px 24.17px;
    color: #4D4D4D;
}

.dot1{
    position: absolute;
    margin: 12px 0px 0px 24px;
}

.dot2{
    position: absolute;
    margin: 20px 0px 0px 24px;
}

.dot3{
    position: absolute;
    margin: 28px 0px 0px 24px;
}

.orange-btn{
    position: absolute;
    margin: 10px 0px 18px 43px;
    border: 0;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0), 0px 2px 2px rgba(0, 0, 0, 0);
}

.heart{
    position: absolute;
    margin: 16px 0px 0px 52px;
}

.like{
    position: absolute;
    margin: 13px 0px 0px 85px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    font-size: 14px;
    color: #757575;
}

.resposta{
    position: absolute;
    margin: 13px 0px 0px 130px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    font-size: 14px;
    color: #757575;
}

.topico{
    height: 165px;
    margin: 30px 15px;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.arruma{
    cursor: pointer;
    margin-top: 17px;
}

.topico.arruma.inactive{
    margin: 0;
    padding: 0;
    max-height: 0;
    display: none;
    transition: all 0.4s ease;
}

.topico.arruma.resposta{
    display: none;
}

.topico.arruma.resposta.active{
    position: relative;
    display: block;
    height: 165px;
    margin: 30px 15px;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #ED7839;
}

.new{
    position: absolute;
}

.footer{
    position: absolute;
    margin: 50px 50px 0px 0px;
}